//structure
@import 'structure/mixins';
@import 'structure/variables';
@import 'inc/template';
// @import 'structure/grid';
@import 'structure/forms';
@import 'structure/typography';

// inc
@import 'inc/responsive_slides';
@import 'inc/flex';
@import 'inc/fancybox';
@import 'inc/jscrollpane';

//animations
@import 'animations/animation_ballon';

//theme
@import 'theme/header';
@import 'theme/loader';
@import 'theme/page';
@import 'theme/langue';
@import 'theme/home';
@import 'theme/proyectos';
@import 'theme/info';
@import 'theme/book';
@import 'theme/equipe';
@import 'theme/footer';


*,
*:after,
*:before {
  @include box-sizing(border-box);
}


html {
	@include base-type($font-properties...);
}

body {
	// Ala Trent Walton
	@include css-hyphens(auto);
	@extend %breakword;
}



#page{
	margin:0 15% 2em;
	max-width:1200px;
	@include mq(lap) {margin:0 10% 2em;}
	@include mq(tablet) {margin:0 5% 2em;}
	@include mq(phone) {margin:0 2.5% 2em;}
}

/* ========= Helperclass =========== */	



.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
