.menu-menu-equipe-container {float: left;
					width:100%;
					display:block;
					margin:3em 0 0 0;
					@include mq(tablet) {margin:1em 0 0 0;}
					@include mq(phone) {margin:1em 0 0 0;}

					li {display:block;
						text-align:left;
						margin-right:1em;
						font-family: 'decima_novaregular';
						@include mq(tablet) {text-align:center; margin-right:0;}
						@include mq(phone) {text-align:center; margin-right:0;}
					}
					
					.current-menu-item a, 
					a:hover {color:#005CAB;
					}
					
					a {color:#808080;
						font-size:1em;
						letter-spacing:1px;
					}
					
					.menu-item-82 {border-top: solid #CCCCCC 1px ;
								border-bottom: solid #CCCCCC 1px ;
								
								a {color:#005CAB;
									text-transform:uppercase;
									font-size:1.3em;
								}
					}
					
					.sub-menu {width:100%;
								
								a {width:100%;
									font-style:italic;
									color:#808080;
									
									&:hover {color:#005CAB;}
								}
					
					}

}


.equipe {float:left;
		width:80%;
		@include mq(tablet) {width:100%;}
		@include mq(phone) {width:100%;}

		.foto_equipe {width:50%; 
					float:left;
					@include mq(phone) {width:100%; text-align:center;}
		}

		.text_equipe {width:50%;
					float: left;  
					padding: 1em 0 0 1em;
					@include mq(phone) {width:100%; padding:0; margin-top: 1em;}
					
					p {color:#808080;
						font-size:0.9em;
						margin-bottom:10px;
					}
		}
		

		h1 {font-family:"abraham_lincolnregular"; 
						font-size:1.5em; 
						color:#005CAB;
						text-transform:uppercase;
						letter-spacing:1px;
		}

}
