.site-header {
	width:100%;	
	margin: 2em 0 2em;
	@include mq(tablet) {width:100%; text-align:center; margin: 1em 0 0;}
	@include mq(phone) {width:100%; text-align:center; margin: 1em 0 0;}
	
	.site-branding {
		width: 25%;
		float: left;
		margin-bottom: 0;
		@include mq(tablet) {float:none; width:100%;}
		@include mq(phone) {float:none; width:100%;}

		a {
			width:130px; 
			height:27px; 
			background:url('../../../img/logo-officina.svg') no-repeat; 
			display:block;
			text-indent:-9999px;
			transition:all 0.2s ease;
			@include mq(tablet) {margin: 0 auto;}
			@include mq(phone) {margin: 0 auto;}
			
			&:hover {@include opacity(0.7); }
		}
	}
}

/* =Menu
----------------------------------------------- */

.navigation-main {
	display: block;
	float: left;
	width: 75%;
	@include mq(tablet) {width: 100%; float:none; margin:1em 0 0 0;}
	@include mq(phone) {width: 100%; float:none;  margin:1em 0 0 0;}	
}
.navigation-main ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: right;
}
.navigation-main li {
	display:inline-block;
	padding: 0 0 0 2em;
	margin-left: 1em;
	// border-left: 1px solid #333;
	// border: 1px solid #333;
	@include mq(tablet) {display:block; text-align:left; margin-left:0; padding:0;
		&:last-child a {
			border-bottom: 1px solid #333;
		}
	}
	@include mq(phone) {display:block; text-align:left; margin-left:0; padding:0; 
		&:last-child a {
			border-bottom: 1px solid #333;
		}
	}

	&:first-child {
		// border-left: solid #000 1px;
		border-left: none;
	}
}
.navigation-main a {
	text-decoration:none;
	color:#333;
	font-size:1em;
	font-family: 'decima_novaregular';
	text-transform : uppercase;
	letter-spacing:1px;
	@include mq(tablet) {padding:0.5em 0 0.5em 1em; border-top: 1px solid #333; display:block;}
	@include mq(phone) {padding:0.5em 0 0.5em 1em; border-top: 1px solid #333; display:block;}

	&:hover {
		color:#005CAB;
	}
}
.navigation-main ul ul {
	display: none;
	position: relative;
	left: 1em;
}
.navigation-main ul ul ul {
	left: 100%;
	top: 0;
}
.navigation-main ul ul a {
	width: 200px;
}
.navigation-main ul ul li {
}
.navigation-main li:hover > a {
}
.navigation-main ul ul :hover > a {
}
.navigation-main ul ul a:hover {
}
.navigation-main ul li:hover > ul {
	display: block;
}
.navigation-main li.current_page_item a,
.navigation-main li.current-menu-item a,
.navigation-main li.current-page-ancestor a,
 {
	color:$bleu;
	color:#005CAB;
}

.navigation-main li.current-menu-ancestor > a {
	color:$orange;
}

.navigation-main .current-menu-parent ul {display:block}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 50em) {
	.menu-toggle,
	.navigation-main.toggled .nav-menu {
		display: block;
	}

	.menu-toggle {
		background: url(../../../img/menu-icon.svg) no-repeat right center;
		height: 40px;
		position: absolute;
		// right: 1em;
		top: .2em;
		font-size: 1.4em;
		padding: 1em 2em 1em 0;
		text-indent: -9999px;
	}	
	
	.navigation-main ul ul {
		position: relative;
		top: 0;
		left:0;
	}
	
	.navigation-main ul {
		display: none;
	}
}