.info {

	#map_canvas {
		height:20em;
		@include mq(tablet) {margin-top:0.5em;}
		@include mq(phone) {margin-top:0.5em;}
	}
	
	h2 {
		font-family: 'decima_novaregular';
		font-size:1em; 
		color:#005CAB;
		text-transform:uppercase;
	}

	h3 {
		font-size:0.9em; 
		text-transform:uppercase;
		margin-bottom:0.5em;
	}
	
	#text_info {margin-top : 1em;
				color:#808080;
				font-size:1em;
	}
	
	.module-1 {
		width:35%;
		float:left;
		@include mq(phone) {width:100%;}
		
		.texto_metro {
			padding-left:5px;
			float:left;
			display:block;
			font-size:0.8em;
		}
		
		#picto_metro {
			width:19px;
			height:16px;
			padding-right:3px;
			position:relative;
			top:3px; 
			float:left; 
		}
	}
	
	.module-2 {
		width:35%;
		float:left;
		@include mq(phone) {width:100%; margin-top:2em;}
	}
	
	.module-3 {
		width:30%;
		float:left;
		@include mq(phone) {width:100%; margin-top:2em;}
	}


	p {
		color:#808080; 
		margin-bottom:20px;
		font-size:0.8em;
	}

	a {
		text-decoration:none; 
		color:#808080;
		font-size:0.8em;
	}
	
	a:hover {color:#000; }

}