#bloc-lang {
	position: absolute;
	top:5px;
	right:0;
	// @include mq(lap) {right: 10%;}
	// @include mq(tablet) {right: 5%;}
	// @include mq(phone) {right: 2.5%;}
	
	ul {list-style :none ; margin:0; float: right;}
	
	li {
		display:inline-block;
		padding-right:0.75em !important;
		//@include mq(phone) {display:block; width:100%; padding-right:0 !important;float:none;}
	}
	
	.icl-fr {
		// border-right:1px solid $bleu;
		// @include mq(phone) {border-right: none; border-bottom:1px solid $bleu; }
	}
	
	a {
		text-decoration:none;
		font-size: 1em;
		font-family: $font-family-sans;
		padding-left: 0;
	}

	a.lang_sel_sel {
		// color:$bleu;
		padding-bottom: .25em;
		border-bottom: 2px solid;
	}

	a.lang_sel_other {
		// color:$orange;
	}
	
	a:hover {border-bottom: 2px solid;}

	#lang_sel_list a, #lang_sel_list a:visited {
		background: transparent;
	}

}