.module-projets {
	
	h1 {font-size:1.4em;
		font-family: 'decima_novaregular';
		color:#005CAB;
	}

}

.module {
	width:50%;
	float:left;
	font-size:0.9em;
	color:#878181;
	padding-right:0.5em;
	@include mq(tablet) {width:100%;}
	@include mq(phone) {width:100%;}
	
	p {margin:0;}
		
}

.bloc-idem-project {
	margin-top: 1em;
}

.block--project-1-3 {
	margin-bottom: 3%;
	@include simple-grid(3, 3%);
	@include mq(lap) {@include simple-grid(2, 3%);}
	@include mq(tablet) {@include simple-grid(2, 3%);}
	@include mq(phone) {@include simple-grid(1, 0);}
}


//=================== scroll
.scroll-pane {
	margin-top:2em;
	height: 100px;
	overflow: auto;
	padding-right:1em;
}

.jspTrack { background-color:rgba(0, 0, 0, .05); 
			width:50%;
}

.jspDrag {background-color:lighten($gris, 30%);}