.post-1 {width:100%;	
			text-align:center;
			margin-top:2em;
			-webkit-animation:logo-intro 2s ease-in-out 1;
			-moz-animation:logo-intro 2s ease-in-out 1;
			-o-animation:logo-intro 2s ease-in-out 1;
			animation:logo-intro 2s ease-in-out 1;
			
			.site-branding a {margin: 0 auto;
			}
}

.intro {float:left;
			width:100%;
			text-align:center;
			@include mq(tablet) {width:100%;}
			@include mq(phone) {width:100%;}


		.balloon {
			background: url('img/Montgolfiere.png') no-repeat;
			display:inline-block;
			width:150px;
			height:275px;
			position:relative;
			transition:all 0.5s ease;
			z-index:10;
			-webkit-animation:balloons 4s 1.9s ease-in-out infinite;
			-moz-animation:balloons 4s 1.9s ease-in-out infinite;								
			-o-animation:balloons 4s 1.9s ease-in-out infinite;					
			animation:balloons 4s 1.9s ease-in-out infinite;	

							
			transform-origin:bottom center;
			
			&:hover {@include opacity(0.8); }
		}
}